swagger: "2.0"
info:
  title: SP Ecosystem API
  version: "1.0"
host: st-widget.ogon.ru
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  /static/get/user/avatar/{filename}:
    get:
      summary: Получение аватарки пользователя
      operationId: Users_GetAvatarLink
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/apiHttpBody'
        "400":
          description: The request parameters did not conform to expectations
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 3
              message: api.validation_error
        "401":
          description: The API token is invalid or has expired
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 16
              message: api.session_not_found_error
        "403":
          description: The API token does not grant access to this resource
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 7
              message: api.no_read_permission_error
        "404":
          description: The resource could not be located with the current API token
          schema:
            $ref: '#/definitions/Error'
        "500":
          description: Internal error
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 13
              message: api.internal_error
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/gatewayruntimeError'
      parameters:
        - name: filename
          in: path
          required: true
          type: string
        - name: token
          in: query
          required: false
          type: string
      tags:
        - Users
      produces:
        - image/jpeg
      security:
        - Bearer: []
  /v1/assigned_multipliers/{assigned_multiplier_id}:
    patch:
      operationId: Subscriptions_ChangeAssignedMultiplier
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/AssignedMultiplier'
        "400":
          description: The request parameters did not conform to expectations
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 3
              message: api.validation_error
        "401":
          description: The API token is invalid or has expired
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 16
              message: api.session_not_found_error
        "403":
          description: The API token does not grant access to this resource
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 7
              message: api.no_read_permission_error
        "404":
          description: The resource could not be located with the current API token
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 5
              message: api.entity_not_found
        "500":
          description: Internal error
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 13
              message: api.internal_error
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/gatewayruntimeError'
      parameters:
        - name: assigned_multiplier_id
          in: path
          required: true
          type: integer
          format: int64
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ChangeAssignedMultiplierParams'
      tags:
        - Subscriptions
  /v1/documents:
    get:
      summary: Информация о документах
      operationId: Contents_GetDocumentsList
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/GetDocumentsListResponse'
        "400":
          description: The request parameters did not conform to expectations
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 3
              message: api.validation_error
        "401":
          description: The API token is invalid or has expired
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 16
              message: api.session_not_found_error
        "403":
          description: The API token does not grant access to this resource
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 7
              message: api.no_read_permission_error
        "404":
          description: The resource could not be located with the current API token
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 5
              message: api.entity_not_found
        "500":
          description: Internal error
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 13
              message: api.internal_error
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/gatewayruntimeError'
      parameters:
        - name: filter.ids
          in: query
          required: false
          type: array
          items:
            type: integer
            format: int64
          collectionFormat: multi
        - name: filter.types
          in: query
          required: false
          type: array
          items:
            type: string
            enum:
              - DOCUMENT_TYPE_UNSPECIFIED
              - DOCUMENT_TYPE_PRIVACY
              - DOCUMENT_TYPE_PAYMENT_RULES
              - DOCUMENT_TYPE_USE_TERMS
              - DOCUMENT_TYPE_PERSONAL_DATA
              - DOCUMENT_TYPE_ADVERTISING
              - DOCUMENT_TYPE_PROMO_VIRTUAL_CARD
              - DOCUMENT_TYPE_PROMO_DISCOUNT
              - DOCUMENT_TYPE_PROMO_TURN_OFF
              - DOCUMENT_TYPE_PROMO_SPECIAL_OFFERS
              - DOCUMENT_TYPE_PROMO_SEPTEMBER_2021
              - DOCUMENT_TYPE_PROMO_PARTNERS_ECO_PROMOCODES
          collectionFormat: multi
        - name: filter.statuses
          in: query
          required: false
          type: array
          items:
            type: string
            enum:
              - DOCUMENT_STATUS_UNSPECIFIED
              - DOCUMENT_STATUS_ACTIVE
              - DOCUMENT_STATUS_INACTIVE
          collectionFormat: multi
        - name: filter.states
          in: query
          required: false
          type: array
          items:
            type: string
            enum:
              - DOCUMENT_STATE_UNSPECIFIED
              - DOCUMENT_STATE_WAIT
              - DOCUMENT_STATE_PUBLISHED
              - DOCUMENT_STATE_ARCHIVE
          collectionFormat: multi
        - name: filter.tech_versions
          in: query
          required: false
          type: array
          items:
            type: integer
            format: int64
          collectionFormat: multi
        - name: paginator.offset
          in: query
          required: false
          type: integer
          format: int64
        - name: paginator.limit
          in: query
          required: false
          type: integer
          format: int64
      tags:
        - Contents
      security:
        - Bearer: []
  /v1/documents/{document_id}:
    get:
      summary: Получить документ
      operationId: Contents_GetDocumentById
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/Document'
        "400":
          description: The request parameters did not conform to expectations
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 3
              message: api.validation_error
        "401":
          description: The API token is invalid or has expired
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 16
              message: api.session_not_found_error
        "403":
          description: The API token does not grant access to this resource
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 7
              message: api.no_read_permission_error
        "404":
          description: The resource could not be located with the current API token
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 5
              message: api.entity_not_found
        "500":
          description: Internal error
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 13
              message: api.internal_error
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/gatewayruntimeError'
      parameters:
        - name: document_id
          in: path
          required: true
          type: integer
          format: int64
      tags:
        - Contents
      security:
        - Bearer: []
  /v1/erp/documents:
    get:
      summary: Информация о документах
      operationId: ErpContent_GetDocumentsList
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/GetDocumentsListResponse'
        "400":
          description: The request parameters did not conform to expectations
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 3
              message: api.validation_error
        "401":
          description: The API token is invalid or has expired
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 16
              message: api.session_not_found_error
        "403":
          description: The API token does not grant access to this resource
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 7
              message: api.no_read_permission_error
        "404":
          description: The resource could not be located with the current API token
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 5
              message: api.entity_not_found
        "500":
          description: Internal error
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 13
              message: api.internal_error
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/gatewayruntimeError'
      parameters:
        - name: query
          in: query
          required: false
          type: string
      tags:
        - ErpContent
      security:
        - Bearer: []
    post:
      summary: Create document
      description: Create document
      operationId: ErpContent_CreateDocument
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/Document'
        "400":
          description: The request parameters did not conform to expectations
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 3
              message: api.validation_error
        "401":
          description: The API token is invalid or has expired
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 16
              message: api.session_not_found_error
        "403":
          description: The API token does not grant access to this resource
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 7
              message: api.no_read_permission_error
        "404":
          description: The resource could not be located with the current API token
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 5
              message: api.entity_not_found
        "500":
          description: Internal error
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 13
              message: api.internal_error
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/gatewayruntimeError'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DocumentParams'
      tags:
        - ErpContent
      security:
        - Bearer: []
  /v1/erp/documents/{document_id}:
    get:
      summary: Получить документ по ид
      operationId: ErpContent_GetDocumentById
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/Document'
        "400":
          description: The request parameters did not conform to expectations
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 3
              message: api.validation_error
        "401":
          description: The API token is invalid or has expired
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 16
              message: api.session_not_found_error
        "403":
          description: The API token does not grant access to this resource
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 7
              message: api.no_read_permission_error
        "404":
          description: The resource could not be located with the current API token
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 5
              message: api.entity_not_found
        "500":
          description: Internal error
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 13
              message: api.internal_error
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/gatewayruntimeError'
      parameters:
        - name: document_id
          in: path
          required: true
          type: integer
          format: int64
      tags:
        - ErpContent
      security:
        - Bearer: []
    patch:
      summary: Change document
      description: Change document
      operationId: ErpContent_ChangeDocument
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/Document'
        "400":
          description: The request parameters did not conform to expectations
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 3
              message: api.validation_error
        "401":
          description: The API token is invalid or has expired
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 16
              message: api.session_not_found_error
        "403":
          description: The API token does not grant access to this resource
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 7
              message: api.no_read_permission_error
        "404":
          description: The resource could not be located with the current API token
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 5
              message: api.entity_not_found
        "500":
          description: Internal error
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 13
              message: api.internal_error
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/gatewayruntimeError'
      parameters:
        - name: document_id
          in: path
          required: true
          type: integer
          format: int64
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DocumentParams'
      tags:
        - ErpContent
      security:
        - Bearer: []
  /v1/erp/files/download/{bucket}/{filepath}/{filename}:
    get:
      summary: Получение пользовательских файлов
      operationId: ErpFiles_Download
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/apiHttpBody'
        "400":
          description: The request parameters did not conform to expectations
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 3
              message: api.validation_error
        "401":
          description: The API token is invalid or has expired
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 16
              message: api.session_not_found_error
        "403":
          description: The API token does not grant access to this resource
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 7
              message: api.no_read_permission_error
        "404":
          description: The resource could not be located with the current API token
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 5
              message: api.entity_not_found
        "500":
          description: Internal error
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 13
              message: api.internal_error
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/gatewayruntimeError'
      parameters:
        - name: bucket
          in: path
          required: true
          type: string
        - name: filepath
          in: path
          required: true
          type: string
        - name: filename
          in: path
          required: true
          type: string
      tags:
        - ErpFiles
      security:
        - Bearer: []
  /v1/erp/finance-operations:
    get:
      summary: List finance operations
      description: Get a list of finance operations
      operationId: ErpFinanceOperations_GetFinanceOperationList
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/GetFinanceOperationListResponse'
        "400":
          description: The request parameters did not conform to expectations
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 3
              message: api.validation_error
        "401":
          description: The API token is invalid or has expired
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 16
              message: api.session_not_found_error
        "403":
          description: The API token does not grant access to this resource
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 7
              message: api.no_read_permission_error
        "404":
          description: The resource could not be located with the current API token
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 5
              message: api.entity_not_found
        "500":
          description: Internal error
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 13
              message: api.internal_error
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/gatewayruntimeError'
      parameters:
        - name: query
          in: query
          required: false
          type: string
      tags:
        - ErpFinanceOperations
      security:
        - Bearer: []
  /v1/erp/finance-operations/{finance_operation_id}:
    post:
      summary: Cancel a finance operation
      description: Returns a changed finance operation
      operationId: ErpFinanceOperations_CancelFinanceOperation
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/CancelFinanceOperationResponse'
        "400":
          description: The request parameters did not conform to expectations
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 3
              message: api.validation_error
        "401":
          description: The API token is invalid or has expired
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 16
              message: api.session_not_found_error
        "403":
          description: The API token does not grant access to this resource
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 7
              message: api.no_read_permission_error
        "404":
          description: The resource could not be located with the current API token
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 5
              message: api.entity_not_found
        "500":
          description: Internal error
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 13
              message: api.internal_error
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/gatewayruntimeError'
      parameters:
        - name: finance_operation_id
          in: path
          required: true
          type: integer
          format: int64
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CancelFinanceOperationRequestParams'
      tags:
        - ErpFinanceOperations
      security:
        - Bearer: []
  /v1/erp/news:
    get:
      summary: Получить список новостей
      operationId: ErpContent_GetNewsList
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/GetNewsListResponse'
        "400":
          description: The request parameters did not conform to expectations
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 3
              message: api.validation_error
        "401":
          description: The API token is invalid or has expired
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 16
              message: api.session_not_found_error
        "403":
          description: The API token does not grant access to this resource
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 7
              message: api.no_read_permission_error
        "404":
          description: The resource could not be located with the current API token
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 5
              message: api.entity_not_found
        "500":
          description: Internal error
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 13
              message: api.internal_error
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/gatewayruntimeError'
      parameters:
        - name: query
          in: query
          required: false
          type: string
      tags:
        - ErpContent
      security:
        - Bearer: []
    post:
      summary: Create news
      description: Create news
      operationId: ErpContent_CreateNews
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/News'
        "400":
          description: The request parameters did not conform to expectations
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 3
              message: api.validation_error
        "401":
          description: The API token is invalid or has expired
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 16
              message: api.session_not_found_error
        "403":
          description: The API token does not grant access to this resource
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 7
              message: api.no_read_permission_error
        "404":
          description: The resource could not be located with the current API token
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 5
              message: api.entity_not_found
        "500":
          description: Internal error
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 13
              message: api.internal_error
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/gatewayruntimeError'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateNewsParams'
      tags:
        - ErpContent
      security:
        - Bearer: []
  /v1/erp/news/{news_id}:
    get:
      summary: Получить новость
      operationId: ErpContent_GetNewsById
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/News'
        "400":
          description: The request parameters did not conform to expectations
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 3
              message: api.validation_error
        "401":
          description: The API token is invalid or has expired
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 16
              message: api.session_not_found_error
        "403":
          description: The API token does not grant access to this resource
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 7
              message: api.no_read_permission_error
        "404":
          description: The resource could not be located with the current API token
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 5
              message: api.entity_not_found
        "500":
          description: Internal error
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 13
              message: api.internal_error
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/gatewayruntimeError'
      parameters:
        - name: news_id
          in: path
          required: true
          type: integer
          format: int64
      tags:
        - ErpContent
      security:
        - Bearer: []
    put:
      summary: Edit news
      description: Edit news
      operationId: ErpContent_EditNews
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/News'
        "400":
          description: The request parameters did not conform to expectations
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 3
              message: api.validation_error
        "401":
          description: The API token is invalid or has expired
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 16
              message: api.session_not_found_error
        "403":
          description: The API token does not grant access to this resource
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 7
              message: api.no_read_permission_error
        "404":
          description: The resource could not be located with the current API token
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 5
              message: api.entity_not_found
        "500":
          description: Internal error
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 13
              message: api.internal_error
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/gatewayruntimeError'
      parameters:
        - name: news_id
          in: path
          required: true
          type: integer
          format: int64
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/EditNewsParams'
      tags:
        - ErpContent
      security:
        - Bearer: []
    patch:
      summary: Change news
      description: Change news
      operationId: ErpContent_ChangeNews
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/News'
        "400":
          description: The request parameters did not conform to expectations
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 3
              message: api.validation_error
        "401":
          description: The API token is invalid or has expired
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 16
              message: api.session_not_found_error
        "403":
          description: The API token does not grant access to this resource
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 7
              message: api.no_read_permission_error
        "404":
          description: The resource could not be located with the current API token
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 5
              message: api.entity_not_found
        "500":
          description: Internal error
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 13
              message: api.internal_error
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/gatewayruntimeError'
      parameters:
        - name: news_id
          in: path
          required: true
          type: integer
          format: int64
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ChangeNewsParams'
      tags:
        - ErpContent
      security:
        - Bearer: []
  /v1/erp/partners:
    get:
      summary: Информация о партнёрах
      operationId: ErpPartners_GetPartnerList
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/GetPartnerListResponse'
        "400":
          description: The request parameters did not conform to expectations
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 3
              message: api.validation_error
        "401":
          description: The API token is invalid or has expired
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 16
              message: api.session_not_found_error
        "403":
          description: The API token does not grant access to this resource
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 7
              message: api.no_read_permission_error
        "404":
          description: The resource could not be located with the current API token
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 5
              message: api.entity_not_found
        "500":
          description: Internal error
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 13
              message: api.internal_error
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/gatewayruntimeError'
      parameters:
        - name: query
          in: query
          required: false
          type: string
      tags:
        - ErpPartners
      security:
        - Bearer: []
    post:
      summary: Создать партнера
      operationId: ErpPartners_CreatePartner
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/CreatePartnerResponse'
        "400":
          description: The request parameters did not conform to expectations
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 3
              message: api.validation_error
        "401":
          description: The API token is invalid or has expired
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 16
              message: api.session_not_found_error
        "403":
          description: The API token does not grant access to this resource
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 7
              message: api.no_read_permission_error
        "404":
          description: The resource could not be located with the current API token
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 5
              message: api.entity_not_found
        "500":
          description: Internal error
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 13
              message: api.internal_error
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/gatewayruntimeError'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreatePartnerRequestParams'
      tags:
        - ErpPartners
      security:
        - Bearer: []
  /v1/erp/partners/references:
    get:
      summary: Получить список справочников по партнёрам
      operationId: ErpPartners_GetReferences
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/ErpReferences'
        "400":
          description: The request parameters did not conform to expectations
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 3
              message: api.validation_error
        "401":
          description: The API token is invalid or has expired
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 16
              message: api.session_not_found_error
        "403":
          description: The API token does not grant access to this resource
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 7
              message: api.no_read_permission_error
        "404":
          description: The resource could not be located with the current API token
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 5
              message: api.entity_not_found
        "500":
          description: Internal error
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 13
              message: api.internal_error
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/gatewayruntimeError'
      tags:
        - ErpPartners
      security:
        - Bearer: []
  /v1/erp/partners/settings:
    post:
      summary: Создать настройки для партнера
      operationId: ErpPartners_CreatePartnerSettings
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/CreatePartnerSettingsResponse'
        "400":
          description: The request parameters did not conform to expectations
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 3
              message: api.validation_error
        "401":
          description: The API token is invalid or has expired
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 16
              message: api.session_not_found_error
        "403":
          description: The API token does not grant access to this resource
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 7
              message: api.no_read_permission_error
        "404":
          description: The resource could not be located with the current API token
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 5
              message: api.entity_not_found
        "500":
          description: Internal error
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 13
              message: api.internal_error
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/gatewayruntimeError'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreatePartnerSettingsRequestParams'
      tags:
        - ErpPartners
      security:
        - Bearer: []
  /v1/erp/partners/tasks:
    get:
      summary: Информация о списке загрузок данных для всех партнёров
      operationId: ErpPartners_GetPartnerAsyncTaskList
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/GetPartnerAsyncTaskListResponse'
        "400":
          description: The request parameters did not conform to expectations
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 3
              message: api.validation_error
        "401":
          description: The API token is invalid or has expired
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 16
              message: api.session_not_found_error
        "403":
          description: The API token does not grant access to this resource
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 7
              message: api.no_read_permission_error
        "404":
          description: The resource could not be located with the current API token
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 5
              message: api.entity_not_found
        "500":
          description: Internal error
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 13
              message: api.internal_error
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/gatewayruntimeError'
      parameters:
        - name: query
          in: query
          required: false
          type: string
      tags:
        - ErpPartners
      security:
        - Bearer: []
  /v1/erp/partners/tasks/{task_id}:
    post:
      summary: Отозвать промокоды по задаче на загрузку контента
      operationId: ErpPartners_CancelPartnerAsyncTask
      responses:
        "200":
          description: A successful response.
          schema:
            properties: {}
        "400":
          description: The request parameters did not conform to expectations
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 3
              message: api.validation_error
        "401":
          description: The API token is invalid or has expired
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 16
              message: api.session_not_found_error
        "403":
          description: The API token does not grant access to this resource
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 7
              message: api.no_read_permission_error
        "404":
          description: The resource could not be located with the current API token
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 5
              message: api.entity_not_found
        "500":
          description: Internal error
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 13
              message: api.internal_error
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/gatewayruntimeError'
      parameters:
        - name: task_id
          in: path
          required: true
          type: integer
          format: int64
      tags:
        - ErpPartners
      security:
        - Bearer: []
  /v1/erp/partners/{partner_id}:
    get:
      summary: Получить профиль партнера
      operationId: ErpPartners_GetPartnerById
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/Partner'
        "400":
          description: The request parameters did not conform to expectations
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 3
              message: api.validation_error
        "401":
          description: The API token is invalid or has expired
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 16
              message: api.session_not_found_error
        "403":
          description: The API token does not grant access to this resource
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 7
              message: api.no_read_permission_error
        "404":
          description: The resource could not be located with the current API token
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 5
              message: api.entity_not_found
        "500":
          description: Internal error
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 13
              message: api.internal_error
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/gatewayruntimeError'
      parameters:
        - name: partner_id
          in: path
          required: true
          type: integer
          format: int64
      tags:
        - ErpPartners
      security:
        - Bearer: []
    delete:
      summary: Деактивация партнера
      operationId: ErpPartners_DeletePartner
      responses:
        "200":
          description: A successful response.
          schema:
            properties: {}
        "400":
          description: The request parameters did not conform to expectations
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 3
              message: api.validation_error
        "401":
          description: The API token is invalid or has expired
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 16
              message: api.session_not_found_error
        "403":
          description: The API token does not grant access to this resource
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 7
              message: api.no_read_permission_error
        "404":
          description: The resource could not be located with the current API token
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 5
              message: api.entity_not_found
        "500":
          description: Internal error
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 13
              message: api.internal_error
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/gatewayruntimeError'
      parameters:
        - name: partner_id
          in: path
          required: true
          type: integer
          format: int64
      tags:
        - ErpPartners
      security:
        - Bearer: []
    patch:
      summary: Изменение информации о партнёре
      operationId: ErpPartners_ChangePartner
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/ChangePartnerResponse'
        "400":
          description: The request parameters did not conform to expectations
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 3
              message: api.validation_error
        "401":
          description: The API token is invalid or has expired
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 16
              message: api.session_not_found_error
        "403":
          description: The API token does not grant access to this resource
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 7
              message: api.no_read_permission_error
        "404":
          description: The resource could not be located with the current API token
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 5
              message: api.entity_not_found
        "500":
          description: Internal error
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 13
              message: api.internal_error
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/gatewayruntimeError'
      parameters:
        - name: partner_id
          in: path
          required: true
          type: integer
          format: int64
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ChangePartnerRequestParams'
      tags:
        - ErpPartners
      security:
        - Bearer: []
  /v1/erp/partners/{partner_id}/settings:
    get:
      summary: Получить настройки партнера
      operationId: ErpPartners_GetPartnerSettingsById
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/PartnerSettings'
        "400":
          description: The request parameters did not conform to expectations
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 3
              message: api.validation_error
        "401":
          description: The API token is invalid or has expired
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 16
              message: api.session_not_found_error
        "403":
          description: The API token does not grant access to this resource
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 7
              message: api.no_read_permission_error
        "404":
          description: The resource could not be located with the current API token
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 5
              message: api.entity_not_found
        "500":
          description: Internal error
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 13
              message: api.internal_error
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/gatewayruntimeError'
      parameters:
        - name: partner_id
          in: path
          required: true
          type: integer
          format: int64
      tags:
        - ErpPartners
      security:
        - Bearer: []
    patch:
      summary: Изменение настроек партнёра
      operationId: ErpPartners_ChangePartnerSettings
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/ChangePartnerSettingsResponse'
        "400":
          description: The request parameters did not conform to expectations
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 3
              message: api.validation_error
        "401":
          description: The API token is invalid or has expired
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 16
              message: api.session_not_found_error
        "403":
          description: The API token does not grant access to this resource
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 7
              message: api.no_read_permission_error
        "404":
          description: The resource could not be located with the current API token
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 5
              message: api.entity_not_found
        "500":
          description: Internal error
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 13
              message: api.internal_error
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/gatewayruntimeError'
      parameters:
        - name: partner_id
          in: path
          required: true
          type: integer
          format: int64
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ChangePartnerSettingsRequestParams'
      tags:
        - ErpPartners
      security:
        - Bearer: []
  /v1/erp/partners/{partner_id}/tasks:
    post:
      summary: Создать задачу на загрузку контента
      operationId: ErpPartners_CreatePartnerAsyncTask
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/PartnerAsyncTask'
        "400":
          description: The request parameters did not conform to expectations
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 3
              message: api.validation_error
        "401":
          description: The API token is invalid or has expired
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 16
              message: api.session_not_found_error
        "403":
          description: The API token does not grant access to this resource
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 7
              message: api.no_read_permission_error
        "404":
          description: The resource could not be located with the current API token
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 5
              message: api.entity_not_found
        "500":
          description: Internal error
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 13
              message: api.internal_error
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/gatewayruntimeError'
      parameters:
        - name: partner_id
          in: path
          required: true
          type: integer
          format: int64
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreatePartnerAsyncTaskRequest'
      tags:
        - ErpPartners
      security:
        - Bearer: []
  /v1/erp/partners/{partner_id}/tokens:
    post:
      summary: Создать токен для технического пользователя партнера
      operationId: ErpPartners_CreatePartnerToken
      responses:
        "200":
          description: A successful response.
          schema:
            properties: {}
        "400":
          description: The request parameters did not conform to expectations
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 3
              message: api.validation_error
        "401":
          description: The API token is invalid or has expired
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 16
              message: api.session_not_found_error
        "403":
          description: The API token does not grant access to this resource
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 7
              message: api.no_read_permission_error
        "404":
          description: The resource could not be located with the current API token
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 5
              message: api.entity_not_found
        "500":
          description: Internal error
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 13
              message: api.internal_error
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/gatewayruntimeError'
      parameters:
        - name: partner_id
          in: path
          required: true
          type: integer
          format: int64
      tags:
        - ErpPartners
      security:
        - Bearer: []
  /v1/erp/promotions:
    get:
      summary: Список акций
      operationId: ErpSubscription_GetPromotionList
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/GetPromotionListResponse'
        "400":
          description: The request parameters did not conform to expectations
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 3
              message: api.validation_error
        "401":
          description: The API token is invalid or has expired
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 16
              message: api.session_not_found_error
        "403":
          description: The API token does not grant access to this resource
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 7
              message: api.no_read_permission_error
        "404":
          description: The resource could not be located with the current API token
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 5
              message: api.entity_not_found
        "500":
          description: Internal error
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 13
              message: api.internal_error
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/gatewayruntimeError'
      parameters:
        - name: query
          in: query
          required: false
          type: string
      tags:
        - ErpSubscription
      security:
        - Bearer: []
    post:
      summary: Создать акцию
      operationId: ErpSubscription_CreatePromotion
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/CreatePromotionResponse'
        "400":
          description: The request parameters did not conform to expectations
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 3
              message: api.validation_error
        "401":
          description: The API token is invalid or has expired
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 16
              message: api.session_not_found_error
        "403":
          description: The API token does not grant access to this resource
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 7
              message: api.no_read_permission_error
        "404":
          description: The resource could not be located with the current API token
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 5
              message: api.entity_not_found
        "500":
          description: Internal error
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 13
              message: api.internal_error
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/gatewayruntimeError'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreatePromotionRequestParams'
      tags:
        - ErpSubscription
      security:
        - Bearer: []
  /v1/erp/promotions/{promotion_id}:
    get:
      summary: Информация об акции
      operationId: ErpSubscription_GetPromotionById
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/Promotion'
        "400":
          description: The request parameters did not conform to expectations
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 3
              message: api.validation_error
        "401":
          description: The API token is invalid or has expired
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 16
              message: api.session_not_found_error
        "403":
          description: The API token does not grant access to this resource
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 7
              message: api.no_read_permission_error
        "404":
          description: The resource could not be located with the current API token
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 5
              message: api.entity_not_found
        "500":
          description: Internal error
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 13
              message: api.internal_error
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/gatewayruntimeError'
      parameters:
        - name: promotion_id
          in: path
          required: true
          type: integer
          format: int64
      tags:
        - ErpSubscription
      security:
        - Bearer: []
    patch:
      summary: Изменение информации об акции
      operationId: ErpSubscription_ChangePromotion
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/ChangePromotionResponse'
        "400":
          description: The request parameters did not conform to expectations
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 3
              message: api.validation_error
        "401":
          description: The API token is invalid or has expired
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 16
              message: api.session_not_found_error
        "403":
          description: The API token does not grant access to this resource
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 7
              message: api.no_read_permission_error
        "404":
          description: The resource could not be located with the current API token
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 5
              message: api.entity_not_found
        "500":
          description: Internal error
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 13
              message: api.internal_error
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/gatewayruntimeError'
      parameters:
        - name: promotion_id
          in: path
          required: true
          type: integer
          format: int64
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ChangePromotionRequestParams'
      tags:
        - ErpSubscription
      security:
        - Bearer: []
  /v1/erp/stories:
    get:
      summary: Получить список сторис
      operationId: ErpContent_GetStoriesList
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/GetStoriesListResponse'
        "400":
          description: The request parameters did not conform to expectations
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 3
              message: api.validation_error
        "401":
          description: The API token is invalid or has expired
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 16
              message: api.session_not_found_error
        "403":
          description: The API token does not grant access to this resource
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 7
              message: api.no_read_permission_error
        "404":
          description: The resource could not be located with the current API token
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 5
              message: api.entity_not_found
        "500":
          description: Internal error
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 13
              message: api.internal_error
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/gatewayruntimeError'
      parameters:
        - name: query
          in: query
          required: false
          type: string
      tags:
        - ErpContent
      security:
        - Bearer: []
    post:
      summary: Create story
      description: Create story
      operationId: ErpContent_CreateStory
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/Story'
        "400":
          description: The request parameters did not conform to expectations
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 3
              message: api.validation_error
        "401":
          description: The API token is invalid or has expired
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 16
              message: api.session_not_found_error
        "403":
          description: The API token does not grant access to this resource
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 7
              message: api.no_read_permission_error
        "404":
          description: The resource could not be located with the current API token
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 5
              message: api.entity_not_found
        "500":
          description: Internal error
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 13
              message: api.internal_error
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/gatewayruntimeError'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/StoryParams'
      tags:
        - ErpContent
      security:
        - Bearer: []
  /v1/erp/stories/{story_id}:
    get:
      summary: Получить стори
      operationId: ErpContent_GetStoryById
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/Story'
        "400":
          description: The request parameters did not conform to expectations
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 3
              message: api.validation_error
        "401":
          description: The API token is invalid or has expired
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 16
              message: api.session_not_found_error
        "403":
          description: The API token does not grant access to this resource
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 7
              message: api.no_read_permission_error
        "404":
          description: The resource could not be located with the current API token
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 5
              message: api.entity_not_found
        "500":
          description: Internal error
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 13
              message: api.internal_error
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/gatewayruntimeError'
      parameters:
        - name: story_id
          in: path
          required: true
          type: integer
          format: int64
      tags:
        - ErpContent
      security:
        - Bearer: []
    put:
      summary: Edit story
      description: Edit story
      operationId: ErpContent_EditStory
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/Story'
        "400":
          description: The request parameters did not conform to expectations
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 3
              message: api.validation_error
        "401":
          description: The API token is invalid or has expired
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 16
              message: api.session_not_found_error
        "403":
          description: The API token does not grant access to this resource
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 7
              message: api.no_read_permission_error
        "404":
          description: The resource could not be located with the current API token
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 5
              message: api.entity_not_found
        "500":
          description: Internal error
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 13
              message: api.internal_error
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/gatewayruntimeError'
      parameters:
        - name: story_id
          in: path
          required: true
          type: integer
          format: int64
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/StoryParams'
      tags:
        - ErpContent
      security:
        - Bearer: []
  /v1/erp/stories/{story_id}/screens:
    get:
      summary: Получить список экранов для стори
      operationId: ErpContent_GetScreensByStory
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/GetScreensByStoryResponse'
        "400":
          description: The request parameters did not conform to expectations
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 3
              message: api.validation_error
        "401":
          description: The API token is invalid or has expired
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 16
              message: api.session_not_found_error
        "403":
          description: The API token does not grant access to this resource
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 7
              message: api.no_read_permission_error
        "404":
          description: The resource could not be located with the current API token
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 5
              message: api.entity_not_found
        "500":
          description: Internal error
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 13
              message: api.internal_error
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/gatewayruntimeError'
      parameters:
        - name: story_id
          in: path
          required: true
          type: integer
          format: int64
      tags:
        - ErpContent
      security:
        - Bearer: []
  /v1/erp/subscriptions:
    get:
      summary: Информация о подписках
      operationId: ErpSubscription_GetSubscriptionList
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/GetSubscriptionListResponse'
        "400":
          description: The request parameters did not conform to expectations
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 3
              message: api.validation_error
        "401":
          description: The API token is invalid or has expired
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 16
              message: api.session_not_found_error
        "403":
          description: The API token does not grant access to this resource
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 7
              message: api.no_read_permission_error
        "404":
          description: The resource could not be located with the current API token
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 5
              message: api.entity_not_found
        "500":
          description: Internal error
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 13
              message: api.internal_error
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/gatewayruntimeError'
      parameters:
        - name: query
          in: query
          required: false
          type: string
      tags:
        - ErpSubscription
      security:
        - Bearer: []
    post:
      summary: Создать подписку
      operationId: ErpSubscription_CreateSubscription
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/Subscription'
        "400":
          description: The request parameters did not conform to expectations
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 3
              message: api.validation_error
        "401":
          description: The API token is invalid or has expired
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 16
              message: api.session_not_found_error
        "403":
          description: The API token does not grant access to this resource
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 7
              message: api.no_read_permission_error
        "404":
          description: The resource could not be located with the current API token
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 5
              message: api.entity_not_found
        "500":
          description: Internal error
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 13
              message: api.internal_error
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/gatewayruntimeError'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/SubscriptionParams'
      tags:
        - ErpSubscription
      security:
        - Bearer: []
  /v1/erp/subscriptions/purchases/report/{format}:
    get:
      summary: Отчет о покупке/активации подписки пользователями за период (файл)
      operationId: ErpSubscription_GetSubscriptionPurchasesReport
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/apiHttpBody'
        "400":
          description: The request parameters did not conform to expectations
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 3
              message: api.validation_error
        "401":
          description: The API token is invalid or has expired
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 16
              message: api.session_not_found_error
        "403":
          description: The API token does not grant access to this resource
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 7
              message: api.no_read_permission_error
        "404":
          description: The resource could not be located with the current API token
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 5
              message: api.entity_not_found
        "500":
          description: Internal error
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 13
              message: api.internal_error
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/gatewayruntimeError'
      parameters:
        - name: format
          in: path
          required: true
          type: string
          enum:
            - REPORT_FORMAT_UNSPECIFIED
            - REPORT_FORMAT_XLSX
            - REPORT_FORMAT_CSV
        - name: filter.From
          in: query
          required: false
          type: string
          format: date-time
        - name: filter.Till
          in: query
          required: false
          type: string
          format: date-time
      tags:
        - ErpSubscription
      security:
        - Bearer: []
  /v1/erp/subscriptions/{subscription_id}:
    get:
      summary: Информация о подписке
      operationId: ErpSubscription_GetSubscriptionById
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/Subscription'
        "400":
          description: The request parameters did not conform to expectations
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 3
              message: api.validation_error
        "401":
          description: The API token is invalid or has expired
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 16
              message: api.session_not_found_error
        "403":
          description: The API token does not grant access to this resource
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 7
              message: api.no_read_permission_error
        "404":
          description: The resource could not be located with the current API token
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 5
              message: api.entity_not_found
        "500":
          description: Internal error
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 13
              message: api.internal_error
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/gatewayruntimeError'
      parameters:
        - name: subscription_id
          in: path
          required: true
          type: integer
          format: int64
      tags:
        - ErpSubscription
      security:
        - Bearer: []
    delete:
      summary: Деактивация подписки
      operationId: ErpSubscription_DeleteSubscription
      responses:
        "200":
          description: A successful response.
          schema:
            properties: {}
        "400":
          description: The request parameters did not conform to expectations
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 3
              message: api.validation_error
        "401":
          description: The API token is invalid or has expired
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 16
              message: api.session_not_found_error
        "403":
          description: The API token does not grant access to this resource
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 7
              message: api.no_read_permission_error
        "404":
          description: The resource could not be located with the current API token
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 5
              message: api.entity_not_found
        "500":
          description: Internal error
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 13
              message: api.internal_error
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/gatewayruntimeError'
      parameters:
        - name: subscription_id
          in: path
          required: true
          type: integer
          format: int64
      tags:
        - ErpSubscription
      security:
        - Bearer: []
    put:
      summary: Изменение информации о подписке
      operationId: ErpSubscription_ChangeSubscription
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/Subscription'
        "400":
          description: The request parameters did not conform to expectations
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 3
              message: api.validation_error
        "401":
          description: The API token is invalid or has expired
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 16
              message: api.session_not_found_error
        "403":
          description: The API token does not grant access to this resource
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 7
              message: api.no_read_permission_error
        "404":
          description: The resource could not be located with the current API token
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 5
              message: api.entity_not_found
        "500":
          description: Internal error
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 13
              message: api.internal_error
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/gatewayruntimeError'
      parameters:
        - name: subscription_id
          in: path
          required: true
          type: integer
          format: int64
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/SubscriptionParams'
      tags:
        - ErpSubscription
      security:
        - Bearer: []
  /v1/erp/uploads:
    get:
      summary: Получить список загрузок
      operationId: ErpFiles_GetFileUploadList
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/GetFileUploadListResponse'
        "400":
          description: The request parameters did not conform to expectations
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 3
              message: api.validation_error
        "401":
          description: The API token is invalid or has expired
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 16
              message: api.session_not_found_error
        "403":
          description: The API token does not grant access to this resource
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 7
              message: api.no_read_permission_error
        "404":
          description: The resource could not be located with the current API token
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 5
              message: api.entity_not_found
        "500":
          description: Internal error
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 13
              message: api.internal_error
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/gatewayruntimeError'
      parameters:
        - name: filter.ids
          in: query
          required: false
          type: array
          items:
            type: integer
            format: int64
          collectionFormat: multi
        - name: filter.user_ids
          in: query
          required: false
          type: array
          items:
            type: integer
            format: int64
          collectionFormat: multi
        - name: filter.statuses
          in: query
          required: false
          type: array
          items:
            type: string
            enum:
              - UPLOAD_STATUS_UNSPECIFIED
              - UPLOAD_STATUS_TEMPORARY
              - UPLOAD_STATUS_READY_TO_CHECK
              - UPLOAD_STATUS_BLOCKED
              - UPLOAD_STATUS_READY_TO_DOWNLOAD
              - UPLOAD_STATUS_ARCHIVE
              - UPLOAD_STATUS_DELETED
          collectionFormat: multi
        - name: filter.types
          in: query
          required: false
          type: array
          items:
            type: string
            enum:
              - UPLOAD_SOURCE_TYPE_UNSPECIFIED
              - UPLOAD_SOURCE_TYPE_USER_AVATAR_IMG
              - UPLOAD_SOURCE_TYPE_USER_FEEDBACK_FILE
              - UPLOAD_SOURCE_TYPE_PARTNER_ICON_IMG
              - UPLOAD_SOURCE_TYPE_PARTNER_PROMOTION_PREVIEW_IMG
              - UPLOAD_SOURCE_TYPE_CONTENT_NEWS_PREVIEW_IMG
              - UPLOAD_SOURCE_TYPE_CONTENT_NEWS_IMG
              - UPLOAD_SOURCE_TYPE_CONTENT_STORY_PREVIEW_IMG
              - UPLOAD_SOURCE_TYPE_CONTENT_SCREEN_IMG
              - UPLOAD_SOURCE_TYPE_CONTENT_SCREEN_VIDEO
              - UPLOAD_SOURCE_TYPE_PARTNER_NEW_PROMO_CODES
              - UPLOAD_SOURCE_TYPE_PARTNER_USED_PROMO_CODES
              - UPLOAD_SOURCE_TYPE_CONTENT_ENTERTAINMENT_ARTICLE_IMG
              - UPLOAD_SOURCE_TYPE_CONTENT_STORY_IMG
              - UPLOAD_SOURCE_TYPE_PARTNER_PROMOTION_OFFER_IMG
              - UPLOAD_SOURCE_TYPE_PARTNER_PROMOTION_DESCRIPTION_IMG
              - UPLOAD_SOURCE_TYPE_PARTNER_LOGO_GRAY
              - UPLOAD_SOURCE_TYPE_PARTNER_LOGO_COLOR
              - UPLOAD_SOURCE_TYPE_PARTNER_PROMOTION_DETAILED_DISPLAY
              - UPLOAD_SOURCE_TYPE_PUSH_DELIVERY_USERS
              - UPLOAD_SOURCE_TYPE_PUSH_DELIVERY_IMG
          collectionFormat: multi
        - name: filter.name
          in: query
          required: false
          type: string
        - name: filter.sha256
          in: query
          required: false
          type: string
        - name: filter.size_from
          in: query
          required: false
          type: integer
          format: int64
        - name: filter.size_till
          in: query
          required: false
          type: integer
          format: int64
        - name: filter.from
          in: query
          required: false
          type: string
          format: date-time
        - name: filter.till
          in: query
          required: false
          type: string
          format: date-time
        - name: filter.persistent
          in: query
          required: false
          type: string
          enum:
            - UPLOAD_PERSISTENT_UNSPECIFIED
            - UPLOAD_PERSISTENT_ENABLED
            - UPLOAD_PERSISTENT_DISABLED
          default: UPLOAD_PERSISTENT_UNSPECIFIED
        - name: filter.expiration_at
          in: query
          required: false
          type: string
          format: date-time
        - name: paginator.offset
          in: query
          required: false
          type: integer
          format: int64
        - name: paginator.limit
          in: query
          required: false
          type: integer
          format: int64
      tags:
        - ErpFiles
      security:
        - Bearer: []
  /v1/erp/uploads/finish:
    post:
      summary: Подтверждение загрузки данных пользователем
      operationId: ErpFiles_FinishFileUpload
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/FinishFileUploadResponse'
        "400":
          description: The request parameters did not conform to expectations
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 3
              message: api.validation_error
        "401":
          description: The API token is invalid or has expired
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 16
              message: api.session_not_found_error
        "403":
          description: The API token does not grant access to this resource
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 7
              message: api.no_read_permission_error
        "404":
          description: The resource could not be located with the current API token
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 5
              message: api.entity_not_found
        "500":
          description: Internal error
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 13
              message: api.internal_error
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/gatewayruntimeError'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/FinishFileUploadRequestParams'
      tags:
        - ErpFiles
      security:
        - Bearer: []
  /v1/erp/uploads/share/{hash}:
    post:
      summary: Предоставление доступа на скачивание файла
      description: Предоставление доступа на скачивание файла
      operationId: ErpFiles_ShareLink
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/Location'
        "400":
          description: The request parameters did not conform to expectations
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 3
              message: api.validation_error
        "401":
          description: The API token is invalid or has expired
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 16
              message: api.session_not_found_error
        "403":
          description: The API token does not grant access to this resource
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 7
              message: api.no_read_permission_error
        "404":
          description: The resource could not be located with the current API token
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 5
              message: api.entity_not_found
        "500":
          description: Internal error
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 13
              message: api.internal_error
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/gatewayruntimeError'
      parameters:
        - name: hash
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ShareLinkByHashRequestParams'
      tags:
        - ErpFiles
      security:
        - Bearer: []
  /v1/erp/uploads/start:
    post:
      summary: Получить ссылку на загрузку
      operationId: ErpFiles_StartUpload
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/StartFileUploadResponse'
        "400":
          description: The request parameters did not conform to expectations
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 3
              message: api.validation_error
        "401":
          description: The API token is invalid or has expired
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 16
              message: api.session_not_found_error
        "403":
          description: The API token does not grant access to this resource
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 7
              message: api.no_read_permission_error
        "404":
          description: The resource could not be located with the current API token
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 5
              message: api.entity_not_found
        "500":
          description: Internal error
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              code: 13
              message: api.internal_error
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/gatewayruntimeError'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/StartFileUploadRequestParams'
      tags:
        - ErpFiles
      security:
        - Bearer: []
  /v1/erp/uploads/{hash}:
    get:
[...]
